@using WebShop.Models
@model List<Product>
@{
    ViewBag.Title = "Products";
}
<div class="row mb-5">
    <div class="col-2">
        <div class="dropdown">
            <button class ="btn btn-secodary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle ="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by category
            </button> 
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach(var item in ViewBag.Categories)
                {
                <a class="dropdown-item" asp-action="Product" asp-route-categoryId="@item.Value">@item.Text</a>    
                
                
                }
            </div>
        </div>

    </div>
    <div class="col-2">
        <a asp-action="Product" class="btn btn-warning">Reset Filters</a>
    </div>

</div>