@model List<OrderProduct>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>

    </table>

<tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
   
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
        </tr>
    }
    </tbody>